.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recoMovie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.allMovie {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
