.header {
  font-size: 20px;
  height: 60px;
  font-weight: bold;
  line-height: 60px;
}

.header > a {
  text-decoration: none;
  color: rgb(229, 9, 20);
}

.container {
  color: rgb(255, 255, 255);
  max-width: 800px;
  padding: 0px 20px;

  margin: 0 auto;
}
