.searchbar_container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.searchbar_container > input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(120, 120, 120);
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
.searchbar_container > button {
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: rgb(120, 120, 120);
  color: white;
  cursor: pointer;
}
